<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="First Suite">
    <test name="QApitol QA">
<!--        <parameter name="browser" value="firefox"></parameter>-->
        <classes>
            <class name="Testcases.ElementsTestcases"></class>
            <class name="Testcases.FormsTestcases"></class>
            <class name="Testcases.AlertsTestCases"></class>
            <class name="Testcases.WidgetsTestcases"></class>
            <class name="Testcases.InteractionsTestcases"></class>
        </classes>
    </test>
</suite>